<!DOCTYPE html>
<html>

<head>
    <title>welcome Test IOF</title>
    <% include ../partials/stylesheet.ejs %>
        <% include ../partials/header_javascript.ejs %>
            <% include ../partials/weather_config.ejs %>

</head>


<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../partials/header_nav.ejs %>
            <% include ../partials/left_nav.ejs %>
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            Show
                            <small>Channel</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li><i class="ffa fa-dshboard"></i>Channel</li>
                            <li class="active"><a href="/channel/detail">show</a></li>
                        </ol>
                    </section>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- Line chart -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title">Senser Value &amp; On/Off controller</h3>
                                    </div>
                                    <div class="box-body">
                                        <div id="sensor-chart" style="height: 300px;"></div>
                                        <hr>
                                        <h3 class="box-title" style="text-align:center;font-family: 'Concert One', cursive;">
                                            Water Controller On/Off
                                        </h3>
                                        <div class="box-body" style="text-align:center;">
                                            <form action="" method="">
                                                <button type="button" id="controller_on" name="controller" class="btn btn-primary" style="width:15%;" value="on"><i class="fa fa-play"></i></button>
                                                <button type="button" id="controller_off" name="controller" class="btn btn-danger" style="width:15%;" value="off"><i class="fa fa-stop"></i></button>
                                            </form>

                                        </div>
                                    </div>
                                    <!-- /.box-body-->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                        <!-- infomation -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- weather info  -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-cloud"></i>
                                        <h3 class="box-title">Weather info</h3>
                                        <div class="box-tools pull-right">
                                            <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="weater-info" style="height:300px">
                                            <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=37.476902&lon=127.012939&name=seoul"> 
                                        </iframe>
                                            <div class="weather">
                                            </div>
                                        </div>
                                        <!-- /.box-body-->
                                    </div>
                                    <!--/.box  -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- camera info -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-picture-o"></i>
                                        <h3 class="box-title">Camera info</h3>
                                        <div class="box-tools pull-right">
                                            <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="camera-info" style="height:300px">
                                            <img src="<%=img_path%>" style="width:100%;height:100%" />
                                        </div>
                                        <!-- /.box-body-->
                                    </div>
                                    <!--/.box  -->
                                </div>
                            </div>
                            <!-- /.weather, camera widget -->
                        </div>
                    </div>
                </div>
                <!-- /.content-wrapper -->
                <% include ../partials/footer.ejs %>
                    <!-- Control Sidebar -->
                    <% include ../partials/right_nav.ejs %>

                        <% include ../partials/footer_graph_javascript.ejs %>
                            <script>
                                function onoff_send(cmd) {
                                    $.ajax({
                                        type: "GET",
                                        url: "http://localhost:8080/test/onoff",
                                        data: {
                                            channel: "<%=channel%>",
                                            command: cmd
                                        },
                                        dataType: "json",
                                        error: function() {

                                        },
                                        success: function(data) {
                                            console.log(data);
                                        }
                                    });
                                }

                                $("#controller_on").click(function() {

                                    $(this).attr("disabled", true);

                                    onoff_send(1);

                                    setTimeout(function() {
                                        $("#controller_on").attr("disabled", false);
                                    }, 1000 * 30);

                                });

                                $("#controller_off").click(function() {

                                    $("#controller_on").attr("disabled", false);

                                    onoff_send(0);

                                });
                            </script>
                            <script>
                                var get_Data = function() {

                                    $.ajax({

                                        type: "GET",
                                        url: "/test/ajax?channel=<%=channel%>",
                                        dataType: "json",
                                        error: function() {
                                            var ajax_data;
                                            ajax_data = null;
                                        },
                                        success: function(data) {

                                            var ajax_data;
                                            ajax_data = JSON.stringify(data);
                                            ajax_data = data;

                                            var get_data = ajax_data;

                                            var show_data = [];
                                            for (var i = 0, max_data = get_data.length; i < max_data; i++) {
                                                console.log(get_data[i]);
                                                show_data.push([i, get_data[i].value]);
                                                //show_data.push([get_data[i].createAt, get_data[i].value]);
                                                console.log(get_data[i].value);
                                            }

                                            var line_data1 = {
                                                data: show_data,
                                                color: "#3c8dbc",
                                            };
                                            $.plot("#sensor-chart", [line_data1], {
                                                grid: {
                                                    hoverable: true,
                                                    borderColor: "#f3f3f3",
                                                    borderWidth: 1,
                                                    tickColor: "#f3f3f3"
                                                },
                                                series: {
                                                    shadowSize: 0,
                                                    lines: {
                                                        show: true
                                                    },
                                                    points: {
                                                        show: true
                                                    }
                                                },
                                                lines: {
                                                    fill: false,
                                                    color: ["#3c8dbc", "#f56954"],
                                                },
                                                yaxis: {
                                                    show: true,
                                                },
                                                xaxis: {
                                                    // 이 설정은 x축의 보여지는 것이 날짜 기준으로 하기 위해서 있는 것이다.
                                                    /*
                        mode: "time",
                        min: (new Date("2017/08/08")).getTime(),
                        max: (new Date("2017/08/18")).getTime(),
                        // min: (new Date("2010/11/01")).getTime(),
                        // max: (new Date("2011/02/01")).getTime(),
                    */
                                                    show: true,
                                                }
                                            });
                                            //Initialize tooltip on hover
                                            $('<div class="tooltip-inner" id="sensor-chart-tooltip"></div>').css({
                                                position: "absolute",
                                                display: "none",
                                                opacity: 0.8
                                            }).appendTo("body");
                                            $("#sensor-chart").bind("plothover", function(event, pos, item) {

                                                if (item) {
                                                    var x = item.datapoint[0].toFixed(2),
                                                        y = item.datapoint[1].toFixed(2);

                                                    $("#sensor-chart-tooltip").html(item.series.label + " of " + x + " = " + y)
                                                        .css({
                                                            top: item.pageY + 5,
                                                            left: item.pageX + 5
                                                        })
                                                        .fadeIn(200);
                                                } else {
                                                    $("#sensor-chart-tooltip").hide();
                                                }

                                            });
                                        }

                                    });


                                };

                                // function getFormatDate(date) {

                                //     var year = date.getFullYear(); //yyyy

                                //     var month = (1 + date.getMonth()); //M

                                //     month = month >= 10 ? month : '0' + month; // month 두자리로 저장

                                //     var day = date.getDate(); //d

                                //     day = day >= 10 ? day : '0' + day; //day 두자리로 저장

                                //     return year + '' + month + '' + day;

                                // }

                                // function getFormatDateHour(date) {

                                //     var hour = date.getHours(); //d

                                //     hour = hour >= 10 ? hour : '0' + hour; //day 두자리로 저장

                                //     return hour;

                                // }
                                // var get_Image = function() {
                                //     var date = new Date();
                                //     var folername = getFormatDate(date);
                                //     var imgname = folername + date.getHours() + ".jpg";
                                //     var img_src = "/upload/<%=channel%>/" + folername + "/" + imgname;
                                //     $("#camera-info").find("img").attr("src", img_src + "?timestamp=" + new Date().getTime());
                                // };
                                var get_image() = function(){
                                    $.ajax({
                                        type: "GET",
                                        url: "/test/ajaxpath?channel=<%=channel%>",
                                        dataType: "json",
                                        error: function() {
                                            var ajax_image;
                                            ajax_image = null;
                                        },
                                        success: function(data) {

                                            var ajax_data;
                                            ajax_image = JSON.stringify(data);
                                            ajax_image = data;
                                            var img_src = "/upload/<%=channel%>" + ajax_image + ".jpg";
                                            $("#camera-info").find("img").attr("src", img_src);
                                    });
                                }
                                $(document).ready(function() {
                                    // $(function() {

                                         get_Data();
                                         setInterval("get_Data()", 1000);
                                        setInterval("get_image()", 1000);

                                    // });
                                    /*
                                     * Custom Label formatter
                                     * ----------------------
                                     */
                                    function labelFormatter(label, series) {
                                        return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">' +
                                            label +
                                            "<br>" +
                                            Math.round(series.percent) + "%</div>";
                                    }
                                });
                            </script>

</body>

</html>